# Editor configuration, see http://editorconfig.org

# 表示项目的顶层配置
root = true

# 匹配所有文件
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
# 去掉行尾空格
trim_trailing_whitespace = true
# 文件末尾换行
insert_final_newline = true
